
<div class = 'question'>
<p><%= @question %></p>
<p><em>-You</em></p>
</div>

<div class = 'response'>
<p><strong><%= @response %></strong></p>
<p><em>-Your Coach</em></p>
</div>

<div>
<footer><%= link_to 'Ask a new question', root_path %></footer>
</div>
